.mainWrapper {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(120deg, #f5ebe0, #fefcf3);
}

.rocketAnimation {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
}
